body {
  color: hsla(52, 100%, 20%, 1.0);
  .card {
    border: thin solid #aaa;
    margin: 0.5em auto;
    .left-edge-content {
      padding-left: 0;
    }
    .image {
      height: 75px;
      width: 75px;
    }
  }
}
