body{
  color: hsla(52, 100%, 20%, 1.0);
}
.container{
  min-width: 900px;
  margin: auto;
}
h1{
  text-align: center;
}
.col-md-4{
  margin-top: 100px;
  min-height: 200px;
  min-width: 350px;
  font-size: 22px;
}
.image{
  background-size: cover;
  min-height: 75px;
  min-width: 75px;
  background-repeat: no-repeat;
  float: left;
  margin-right: 10px;
}
