doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Git 'Er Done
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    .container
      .panel.panel-default
        .panel.body
          #github
          h1#header Git 'Er Done
          #ch

      #cards-container.row
        #template.col-sm-4.hidden
          .card.row
            .col-sm-4.left-edge-content
              img.image(src='')
            .col-sm-8
              .name
              .commits
              .pulls
              .score 

    script(src='/vendor/moment/moment.js')
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
